--allman false
--assetliterals visual-width
--beforemarks 
--binarygrouping 4,8
--categorymark "MARK: %c"
--classthreshold 0
--closingparen balanced
--commas always
--conflictmarkers reject
--decimalgrouping 3,6
--elseposition same-line
--enumthreshold 0
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-extension
--extensionlength 0
--extensionmark "MARK: - %t + %c"
--fractiongrouping disabled
--fragment false
--funcattributes preserve
--groupedextension "MARK: %c"
--guardelse auto
--header "//\n// Copyright 2025 Swiftkube Project\n//\n// Licensed under the Apache License, Version 2.0 (the \"License\");\n// you may not use this file except in compliance with the License.\n// You may obtain a copy of the License at\n//\n// http://www.apache.org/licenses/LICENSE-2.0\n//\n// Unless required by applicable law or agreed to in writing, software\n// distributed under the License is distributed on an \"AS IS\" BASIS,\n// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n// See the License for the specific language governing permissions and\n// limitations under the License.\n//"
--hexgrouping 4,8
--hexliteralcase uppercase
--ifdef indent
--importgrouping alphabetized
--indent tab
--indentcase false
--lifecycle 
--linebreaks lf
--markextensions always
--marktypes always
--maxwidth none
--modifierorder 
--nevertrailing 
--nospaceoperators 
--nowrapoperators 
--octalgrouping 4,8
--operatorfunc spaced
--organizetypes class,enum,struct
--patternlet hoist
--ranges spaced
--self init-only
--selfrequired 
--semicolons never
--smarttabs enabled
--stripunusedargs closure-only
--structthreshold 0
--swiftversion 5.2
--tabwidth 4
--trailingclosures 
--trimwhitespace always
--typeattributes preserve
--typemark "MARK: - %t"
--varattributes preserve
--voidtype void
--wraparguments preserve
--wrapcollections preserve
--wrapconditions preserve
--wrapparameters preserve
--wrapreturntype preserve
--xcodeindentation disabled
--yodaswap always
--disable anyObjectProtocol,blankLinesAtStartOfScope,emptyBraces,initCoderUnavailable,modifierOrder,redundantInternal,redundanttype,spaceAroundBrackets,spaceAroundGenerics,spaceAroundParens,strongOutlets,strongifiedSelf,typeSugar,wrapAttributes,yodaConditions
--enable markTypes
